.version.magic_staff
{
    color: #00000a;
    background-color: #fa12b7;
}

#page
{
    z-index: 1;
    width: 968px;
    min-height: 500px;
    background-image: none;
    border-width: 0;
    border-color: #000;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

#ppu19009
{
    z-index: 0;
    width: .01px;
    margin-right: -10000px;
    margin-top: -221px;
    margin-left: -100px;
}

#pu19009
{
    z-index: 46;
    width: .01px;
    margin-left: 100px;
}

#u19009
{
    z-index: 46;
    width: 30px;
    min-height: 30px;
    position: relative;
    margin-right: -10000px;
}

#u19011
{
    z-index: 47;
    width: 50px;
    min-height: 25px;
    position: relative;
    margin-right: -10000px;
    left: 50px;
}

#u19007
{
    z-index: 45;
    width: 300px;
    min-height: 30px;
    position: relative;
    margin-right: -10000px;
    left: 668px;
}

#u21861
{
    z-index: 91;
    min-height: 87px;
}

#u21861_align_to_page
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 968px;
    left: -100px;
}

#u21912{
    z-index: 137;
    width: 253px;
    height: 75px;
    margin-bottom: -7px;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
    left: 120px;}

 @media (max-width: 1200px) {
#u21912{
    z-index: 137;
    width: 253px;
    height: 75px;
    margin-bottom: -7px;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
    left: 120px;}
}

@media (max-width: 992px) {
#u21912{
    z-index: 137;
    width: 253px;
    height: 75px;
    margin-bottom: -7px;
    position: relative;
    margin-right: -10000px;
    margin-top: 19px;
    left: 120px;}
}

@media (max-width: 768px) {
#u21912{
    z-index: 999;
    width: 253px;
    height: 75px;
    margin-bottom: -7px;
    position: fixed;
    margin-right: -10000px;
    margin-top: 19px;
    left: 120px;}
}

@media (max-width: 576px) {
#u21912{
    z-index: 999;
    width: 253px;
    height: 75px;
    margin-bottom: -7px;
    position: fixed;
    margin-right: -10000px;
    margin-top: 19px;
    left: 120px;}
}



#pu24276{
    z-index: 138;
    width: .01px;
    padding-bottom: 0;
    margin-right: -10000px;
    margin-left: 436px;}

#u24276{
    z-index: 138;
    width: 612px;
    height: 8px;
    position: relative;}

@media (max-width: 1200px) {
#pu24276{
    z-index: 138;
    width: .01px;
    padding-bottom: 0;
    margin-right: -10000px;
    margin-left: 436px;}

#u24276{
    z-index: 138;
    width: 612px;
    height: 8px;
    position: relative;}
}

@media (max-width: 992px) {
#pu24276{
    z-index: 138;
    width: .01px;
    padding-bottom: 0;
    margin-right: -10000px;
    margin-left: 436px;}

#u24276{
    z-index: 138;
    width: 612px;
    height: 8px;
    position: relative;}
}

@media (max-width: 768px) {
#pu24276{
    z-index: 999;
    width: .01px;
    padding-bottom: 0;
    margin-right: -10000px;
    margin-left: 236px;}

#u24276{
    z-index: 999;
    width: 412px;
    height: 8px;
    position: fixed;}
}

@media (max-width: 576px) {
#pu24276{
    z-index: 999;
    width: .01px;
    padding-bottom: 0;
    margin-right: -10000px;
    margin-left: 236px;}

#u24276{
    z-index: 999;
    width: 212px;
    height: 8px;
    position: fixed;}
}





#menuu21862
{
    z-index: 92;
    width: 612px;
    height: 46px;
    margin-top: 33px;
    position: relative;
}

#u21891
{
    width: 95px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
}

#u21892
{
    width: 95px;
    padding-bottom: 29px;
    position: relative;
}

#u21892:hover
{
    width: 95px;
    min-height: 0;
    margin: 0;
}

#u21892:active
{
    width: 95px;
    min-height: 0;
    margin: 0;
}

#u21892.MuseMenuActive
{
    width: 95px;
    min-height: 0;
    margin: 0;
}

#u21894-4
{
    width: 71px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 14px;
    left: 12px;
}

#u21892:hover #u21894-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 71px;
    margin: 0 -10000px 0 0;
}

#u21892:active #u21894-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 71px;
    margin: 0 -10000px 0 0;
}

#u21892.MuseMenuActive #u21894-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 71px;
    margin: 0 -10000px 0 0;
}

#u21863
{
    width: 133px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
    left: 97px;
}

#u21880
{
    width: 133px;
    padding-bottom: 29px;
    position: relative;
}

#u21880:hover
{
    width: 133px;
    min-height: 0;
    margin: 0;
}

#u21880:active
{
    width: 133px;
    min-height: 0;
    margin: 0;
}

#u21880.MuseMenuActive
{
    width: 133px;
    min-height: 0;
    margin: 0;
}

#u21881-4
{
    width: 109px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 14px;
    left: 12px;
}

#u21880:hover #u21881-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 109px;
    margin: 0 -10000px 0 0;
}

#u21880:active #u21881-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 109px;
    margin: 0 -10000px 0 0;
}

#u21880.MuseMenuActive #u21881-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 109px;
    margin: 0 -10000px 0 0;
}

#u21864
{
    width: 135px;
    top: 46px;
}

#u21874
{
    width: 135px;
    padding-bottom: 10px;
    position: relative;
    margin-right: -10000px;
}

#u21874:hover
{
    width: 135px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u21874:active
{
    width: 135px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u21877-4
{
    width: 118px;
    min-height: 17px;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 5px;
}

#u21874:hover #u21877-4
{
    padding-top: 4px;
    padding-bottom: 0;
    min-height: 17px;
    width: 118px;
    margin: 0 -10000px 0 0;
}

#u21874:active #u21877-4
{
    padding-top: 4px;
    padding-bottom: 0;
    min-height: 17px;
    width: 118px;
    margin: 0 -10000px 0 0;
}

#u21865,
#u21873,
#u21866
{
    width: 135px;
    position: relative;
}

#u21869
{
    width: 135px;
    padding-bottom: 18px;
    position: relative;
    margin-right: -10000px;
}

#u21874.MuseMenuActive,
#u21869:hover
{
    width: 135px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u21869:active
{
    width: 135px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u21869.MuseMenuActive
{
    width: 135px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u21871-4
{
    width: 118px;
    min-height: 17px;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
    position: relative;
    margin-right: -10000px;
    top: 9px;
    left: 5px;
}

#u21874.MuseMenuActive #u21877-4,
#u21869:hover #u21871-4
{
    padding-top: 4px;
    padding-bottom: 0;
    min-height: 17px;
    width: 118px;
    margin: 0 -10000px 0 0;
}

#u21869:active #u21871-4
{
    padding-top: 4px;
    padding-bottom: 0;
    min-height: 17px;
    width: 118px;
    margin: 0 -10000px 0 0;
}

#u21869.MuseMenuActive #u21871-4
{
    padding-top: 4px;
    padding-bottom: 0;
    min-height: 17px;
    width: 118px;
    margin: 0 -10000px 0 0;
}

#u21898
{
    width: 161px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
    left: 232px;
}

#u21899
{
    width: 161px;
    padding-bottom: 29px;
    position: relative;
}

#u21899:hover
{
    width: 161px;
    min-height: 0;
    margin: 0;
}

#u21899:active
{
    width: 161px;
    min-height: 0;
    margin: 0;
}

#u21899.MuseMenuActive
{
    width: 161px;
    min-height: 0;
    margin: 0;
}

#u21902-4
{
    width: 138px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 14px;
    left: 11px;
}

#u21899:hover #u21902-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 138px;
    margin: 0 -10000px 0 0;
}

#u21899:active #u21902-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 138px;
    margin: 0 -10000px 0 0;
}

#u21899.MuseMenuActive #u21902-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 138px;
    margin: 0 -10000px 0 0;
}

#u21884
{
    width: 109px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
    left: 395px;
}

#u21885
{
    width: 109px;
    padding-bottom: 29px;
    position: relative;
}

#u21885:hover
{
    width: 109px;
    min-height: 0;
    margin: 0;
}

#u21885:active
{
    width: 109px;
    min-height: 0;
    margin: 0;
}

#u21885.MuseMenuActive
{
    width: 109px;
    min-height: 0;
    margin: 0;
}

#u21887-4
{
    width: 86px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 14px;
    left: 11px;
}

#u21885:hover #u21887-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 86px;
    margin: 0 -10000px 0 0;
}

#u21885:active #u21887-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 86px;
    margin: 0 -10000px 0 0;
}

#u21885.MuseMenuActive #u21887-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 86px;
    margin: 0 -10000px 0 0;
}

#u21905
{
    width: 106px;
    min-height: 46px;
    position: relative;
    margin-right: -10000px;
    left: 506px;
}

#u21906
{
    width: 106px;
    padding-bottom: 29px;
    position: relative;
}

#u21906:hover
{
    width: 106px;
    min-height: 0;
    margin: 0;
}

#u21906:active
{
    width: 106px;
    min-height: 0;
    margin: 0;
}

#u21906.MuseMenuActive
{
    width: 106px;
    min-height: 0;
    margin: 0;
}

#u21909-4
{
    width: 83px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 14px;
    left: 11px;
}

#u21906:hover #u21909-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 83px;
    margin: 0 -10000px 0 0;
}

#u21906:active #u21909-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 83px;
    margin: 0 -10000px 0 0;
}

#u21906.MuseMenuActive #u21909-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 83px;
    margin: 0 -10000px 0 0;
}

.js body
{
    visibility: hidden;
}

.js body.initialized
{
    visibility: visible;
}

#u21861-bw
{
    z-index: 91;
    min-height: 87px;
    margin-top: 3px;
}

#u25974-4
{
    z-index: 49;
    width: 557px;
    min-height: 62px;
    background-color: transparent;
    font-size: 60px;
    color: #5597c9;
    letter-spacing: -2px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    margin-left: 120px;
    margin-top: 39px;
    position: relative;
}

#u25977
{
    z-index: 48;
    width: 928px;
    height: 40px;
    background-color: #ccdfee;
    background-color: rgba(85,151,201,.3);
    margin-left: 120px;
    margin-top: 10px;
    position: relative;
    -pie-background: rgba(85,151,201,.3);
}

#pu27017-27
{
    z-index: 53;
    width: .01px;
    margin-top: 20px;
}

#u27017-27{
    z-index: 53;
    width: 454px;
    min-height: 367px;
    background-color: transparent;
    font-size: 16px;
    color: #002c48;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 12px;
    left: 594px;}

 @media (max-width: 768px) {
#u27017-27{
    z-index: 53;
    width: 454px;
    min-height: 367px;
    background-color: transparent;
    font-size: 16px;
    color: #002c48;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 450px;
    left: 154px;}
}

@media (max-width: 576px) {
#u27017-27{
    z-index: 53;
    width: 400px;
    min-height: 367px;
    background-color: transparent;
    font-size: 16px;
    color: #002c48;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 450px;
    left: 154px;}
}

#u27017-20
{
    text-align: center;
    text-indent: 20px;
}

#u27017-2,
#u27017-4,
#u27017-6,
#u27017-8,
#u27017-10,
#u27017-12,
#u27017-14,
#u27017-16,
#u27017-18,
#u27017-22,
#u27017-24
{
    text-align: justify;
    text-indent: 20px;
}

#buttonu28172
{
    z-index: 80;
    width: 187px;
    height: 36px;
    border-color: #787878;
    background-color: #f00;
    border-radius: 10px;
    padding-bottom: 1px;
    position: relative;
    margin-right: -10000px;
    margin-top: 326px;
    left: 253px;
}

#buttonu28172:hover
{
    background-color: #1b1464;
    width: 187px;
    height: 36px;
    min-height: 0;
    margin: 326px -10000px 0 0;
}

#buttonu28172.ButtonSelected
{
    background-color: #f00;
    width: 187px;
    height: 36px;
    min-height: 0;
    margin: 326px -10000px 0 0;
}

#u28173-4
{
    z-index: 81;
    width: 119px;
    min-height: 32px;
    background-color: transparent;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
    position: relative;
    margin-right: -10000px;
    margin-top: 4px;
    left: 34px;
}

#buttonu28172:hover #u28173-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 32px;
    width: 119px;
    margin: 4px -10000px 0 0;
}

#buttonu28172.ButtonSelected #u28173-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 32px;
    width: 119px;
    margin: 4px -10000px 0 0;
}

#buttonu28172:hover #u28173-4 p
{
    color: #fff;
    visibility: inherit;
}

#buttonu28172.ButtonSelected #u28173-4 p
{
    color: #fff;
    visibility: inherit;
}

#u28178
{
    z-index: 85;
    width: 454px;
    height: 326px;
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
    position: relative;
    margin-right: -10000px;
    left: 121px;
    background: transparent url('../images/ms.jpg?crc=3901199841') no-repeat left top;
    background-size: contain;
}

#u28189
{
    z-index: 86;
    height: 68px;
}

.ie #u28189
{
    background-color: #fff;
    opacity: .01;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=1)';
        filter: alpha(opacity=1);
}

#u28189-bw
{
    z-index: 86;
    margin-top: 778px;
    height: 68px;
}

#u28326-4
{
    z-index: 87;
    width: 454px;
    min-height: 25px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    color: #f00;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    position: relative;
    margin-right: -10000px;
    margin-top: 381px;
    left: 119px;
}

.css_verticalspacer .verticalspacer
{
    height: calc(100vh - 1355px);
}

#u23272
{
    z-index: 2;
    min-height: 242.57776944669172px;
    padding-bottom: 0;
}

#u23272_align_to_page
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 968px;
    left: -100px;
    padding-top: 40px;
    padding-bottom: 16px;
}

#pu23275{
    z-index: 44;
    width: .01px;
    left: 219px;
    position: relative;}
#u23275{
    z-index: 44;
    width: 126px;
    height: 140px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;}
#u23274{
    z-index: 43;
    width: 253px;
    height: 60px;
    position: relative;
    margin-right: -10000px;
    left: 250px;}
 #menuu23276{
    z-index: 7;
    width: 233px;
    height: 138px;
    position: relative;
    margin-right: -10000px;
    left: 631px;}

 @media (max-width: 1200px) {
#pu23275{
    z-index: 44;
    width: .01px;
    left: 219px;
    position: relative;}
#u23275{
    z-index: 44;
    width: 126px;
    height: 140px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;}
#u23274{
    z-index: 43;
    width: 253px;
    height: 60px;
    position: relative;
    margin-right: -10000px;
    left: 250px;}
#menuu23276{
    z-index: 7;
    width: 233px;
    height: 138px;
    position: relative;
    margin-right: -10000px;
    left: 631px;}
}

@media (max-width: 992px) {
#pu23275{
    z-index: 44;
    width: .01px;
    left: 219px;
    position: relative;}
#u23275{
    z-index: 44;
    width: 126px;
    height: 140px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;}
#u23274{
    z-index: 43;
    width: 253px;
    height: 60px;
    position: relative;
    margin-right: -10000px;
    left: 250px;}
#menuu23276{
    z-index: 7;
    width: 233px;
    height: 138px;
    position: relative;
    margin-right: -10000px;
    left: 631px;}
}

@media (max-width: 768px) {
#pu23275{
    z-index: 44;
    width: .01px;
    left: 0px;
    position: relative;}
#u23275{
    z-index: 44;
    width: 0px;
    height: 140px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;}
#u23274{
    z-index: 43;
    width: 253px;
    height: 60px;
    position: relative;
    margin-right: -10000px;
    left: 120px;}
#menuu23276{
    z-index: 7;
    width: 233px;
    height: 138px;
    position: relative;
    margin-right: -10000px;
    left: 431px;}
}

@media (max-width: 576px) {
#pu23275{
    z-index: 44;
    width: .01px;
    left: 0px;
    position: relative;}
#u23275{
    z-index: 44;
    width: 0px;
    height: 140px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;}
#u23274{
    z-index: 43;
    width: 253px;
    height: 60px;
    position: relative;
    margin-right: -10000px;
    left: 120px;}
#menuu23276{
    z-index: 7;
    width: 233px;
    height: 138px;
    position: relative;
    margin-right: -10000px;
    left: 431px;}
}





#u23278
{
    width: 233px;
    padding-bottom: 11px;
    position: relative;
    margin-right: -10000px;
}

#u23278:hover
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23281
{
    z-index: 10;
    width: 6px;
    height: 6px;
    position: relative;
    margin-right: -10000px;
    top: 10px;
    left: 10px;
}

#u23278:hover #u23281
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23279-4
{
    width: 217px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 16px;
}

#u23278:hover #u23279-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23292
{
    width: 233px;
    padding-bottom: 11px;
    position: relative;
    margin-right: -10000px;
}

#u23278.MuseMenuActive,
#u23292:hover
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23292:active
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23295
{
    z-index: 17;
    width: 6px;
    height: 6px;
    position: relative;
    margin-right: -10000px;
    top: 10px;
    left: 10px;
}

#u23278.MuseMenuActive #u23281,
#u23292:hover #u23295
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23292:active #u23295
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23293-4
{
    width: 217px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 16px;
}

#u23278.MuseMenuActive #u23279-4,
#u23292:hover #u23293-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23292:active #u23293-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23287
{
    width: 233px;
    padding-bottom: 11px;
    position: relative;
    margin-right: -10000px;
}

#u23292.MuseMenuActive,
#u23287:hover
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23287:active
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23289
{
    z-index: 24;
    width: 6px;
    height: 6px;
    position: relative;
    margin-right: -10000px;
    top: 10px;
    left: 10px;
}

#u23292.MuseMenuActive #u23295,
#u23287:hover #u23289
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23287:active #u23289
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23288-4
{
    width: 217px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 16px;
}

#u23292.MuseMenuActive #u23293-4,
#u23287:hover #u23288-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23287:active #u23288-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23299
{
    width: 233px;
    padding-bottom: 10px;
    position: relative;
    margin-right: -10000px;
}

#u23287.MuseMenuActive,
#u23299:hover
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23299:active
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23302
{
    z-index: 31;
    width: 6px;
    height: 6px;
    position: relative;
    margin-right: -10000px;
    top: 10px;
    left: 10px;
}

#u23287.MuseMenuActive #u23289,
#u23299:hover #u23302
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23299:active #u23302
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23300-4
{
    width: 217px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 16px;
}

#u23287.MuseMenuActive #u23288-4,
#u23299:hover #u23300-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23299:active #u23300-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23277,
#u23291,
#u23284,
#u23298,
#u23305
{
    width: 233px;
    position: relative;
}

#u23308
{
    width: 233px;
    padding-bottom: 10px;
    position: relative;
    margin-right: -10000px;
}

#u23299.MuseMenuActive,
#u23308:hover
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23308:active
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23308.MuseMenuActive
{
    width: 233px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23311
{
    z-index: 38;
    width: 6px;
    height: 6px;
    position: relative;
    margin-right: -10000px;
    top: 10px;
    left: 10px;
}

#u23299.MuseMenuActive #u23302,
#u23308:hover #u23311
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23308:active #u23311
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23308.MuseMenuActive #u23311
{
    width: 6px;
    height: 6px;
    min-height: 0;
    margin: 0 -10000px 0 0;
}

#u23309-4
{
    width: 217px;
    min-height: 17px;
    position: relative;
    margin-right: -10000px;
    top: 5px;
    left: 16px;
}

#u23299.MuseMenuActive #u23300-4,
#u23308:hover #u23309-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23308:active #u23309-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23308.MuseMenuActive #u23309-4
{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 17px;
    width: 217px;
    margin: 0 -10000px 0 0;
}

#u23312-4{
    z-index: 3;
    width: 928px;
    min-height: 33px;
    left: 132px;
    margin-top: 3px;
    position: relative;}

@media (max-width: 1200px) {
#u23312-4{
    z-index: 3;
    width: 1200px;
    min-height: 33px;
    left: 132px;
    margin-top: 3px;
    position: relative;}
}

@media (max-width: 992px) {
#u23312-4{
    z-index: 3;
    width: 928px;
    min-height: 33px;
    left: 132px;
    margin-top: 3px;
    position: relative;}
}

@media (max-width: 768px) {
#u23312-4{
    z-index: 3;
    width: 768px;
    min-height: 33px;
    left: 132px;
    margin-top: 3px;
    position: relative;}
}

@media (max-width: 576px) {
#u23312-4{
    z-index: 3;
    width: 576px;
    min-height: 33px;
    left: 132px;
    margin-top: 3px;
    position: relative;}
}



#u23272-bw
{
    z-index: 2;
    min-height: 242.57776944669172px;
    margin-bottom: -243px;
}

#muse_css_mq,
.html
{
    background-color: #fff;
}

body
{
    position: relative;
    min-width: 968px;
    padding-top: 188px;
    padding-bottom: 241px;
}

.verticalspacer
{
    min-height: 1px;
}

#u21892:active #u21894-4 p,
#u21880:hover #u21881-4 p,
#u21880:active #u21881-4 p,
#u21874:active #u21877-4 p,
#u21869:hover #u21871-4 p,
#u21869:active #u21871-4 p,
#u21899:hover #u21902-4 p,
#u21899:active #u21902-4 p,
#u21885:hover #u21887-4 p,
#u21885:active #u21887-4 p,
#u21906:hover #u21909-4 p,
#u21906:active #u21909-4 p,
#u21892:hover #u21894-4 p,
#u21874:hover #u21877-4 p
{
    padding: 0;
}
